body {
	background: #4A4A4A;
	font-family: 'Lato', sans-serif;
	font-weight: 100;

}

a {
	text-decoration: none;
}

h1 {
}


h2 {
}

#logo img{
	max-width: 50%;
	padding: 15% 0 15% 0;
}

#nav{
	margin-top: 2%;
}

#nav ul {
	width:100%;
	margin: 15% 0 0 0;
	list-style: none;
}

#nav ul li {
	float: left;
	font-size: 2em;
}

#nav ul li.about {
	padding-left: 15%;
}

#nav ul li a {
	display: block;
	text-decoration: none;
	color: #D4D4D4;
	padding-right: 25%;
}

/*youtube embed*/
.video-container {
    position: relative;
    padding-bottom: 40%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 5%;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*end embed*/

#news h1{
	margin: 0;
}

#featured_image img{
	max-width: 100%
}

#team {
	padding: 0;
	margin: 0;
}

#team img{
	max-width: 100%;
	padding: 0 1em 1em 0;
}

ul.tile_images {
	list-style: none;
}

ul.tile_images li {
	float:left;
}

#copyright {
	border-top: .1em solid black;
	text-align: center;
}

/* media queries */
/*smaller resolution*/
@media screen and (max-width: 650px) {
}














